# Web API
fastapi>=0.110
uvicorn[standard]>=0.29

# MongoDB (async)
motor>=3.3
pymongo>=4.5

# GraphQL
strawberry-graphql[fastapi]>=0.206

# Testing
pytest>=8.0
pytest-asyncio>=0.23
httpx>=0.26
pytest-cov>=5.0

# Utilities
requests>=2.31
faker>=24.0

python-jose[cryptography]
passlib[bcrypt]
pytest-cov